<ul class="nav nav-pills nav-stacked about_nav">
	<li id="about_nav1" class="active"><%= link_to "工作室緣起", about_path, :href => "#history" %></li>
	<li id="about_nav2"><%= link_to "工作室團隊", about_path, :href => "#team" %></li>
</ul>