<ul class="nav nav-pills nav-stacked contact_nav">
	<li id="contact_nav1" class="active"><%= link_to "其他連結", contact_path, :href => "#link" %></li>
	<li id="contact_nav2"><%= link_to "寫信給我們", contact_path, :href => "#email" %></li>
</ul>