<div id="history">
	<div class="row">
		<div class="span12 article">
			<h2>創業共識</h2>
			<p>2012年12月下旬，3個多年好友約出來聚聚，在聊天的過程中，其中一人正在抱怨工作上的不愉快，偶然地將他所做的前端介面拿出來展示，這時候，激起了一陣衝勁，大家便把心中那股不安現狀的想法拿出來分享，在互相激盪之下，滿腹的創意、理想、與抱負，原來大家都有想成就一番大事業的想法，於是，思考聚焦，便開始邁入一步步實現的腳步。</p>
		</div>
	</div>

	<div class="row">
		<div class="span12 article">
			<h2>邁進夢想</h2>
			<p>這之間，陸續加入了2名同樣想追夢的熱血夥伴，2013年1月，召開了首次會議，這是大家首次的會議，也是團隊第一次的相見歡，從那天開始，大家就開始了追夢實踐的旅程。</p>
		</div>
	</div>

	<div class="row">
		<div class="span12 article">
			<h2>團隊成立</h2>
			<p>即使有人選擇離開，但是大家依然不氣餒，直到最後一位夥伴的加入，5irehands團隊正式成立。</p>
		</div>
	</div>
</div>