<div id="history">
	<% @historySteps.each do |historyStep| %>
		<div class="row">
			<div class="span12 article">
				<h2><%= historyStep.title %></h2>
				<p><%= historyStep.description %></p>
			</div>
		</div>
	<% end %>
</div>