<div id="link">
	<% @links.each do |link| %>
		<div class="row">
			<div class="span12 article">
				<h2><%= link.name %></h2>
				<%= link_to link.url, link.url, :target => "_blank" %>
			</div>
		</div>
	<% end %>
</div>