<div id="link">
	<div class="row">
		<div class="span12 article">
			<h2>部落格</h2>
			<%= link_to "http://5irehands.blogspot.tw/", "http://5irehands.blogspot.tw/", :target => "_blank" %>
		</div>
	</div>

	<div class="row">
		<div class="span12 article">
			<h2>粉絲團</h2>
			<%= link_to "http://5irehands.blogspot.tw/", "http://5irehands.blogspot.tw/", :target => "_blank" %>
		</div>
	</div>
</div>