<div id="team">
	<div class="row">
		<div class="span12 article">
			<div class="row-fluid">
	
				<div class="span6 image">
					<%= image_tag("founder.jpg", :class => "middle") %> 
				</div>

				<div class="span6">
					<h4>Franky Wu</h4>
					<p>Founder</p>
					<p>0921-177643</p>
					<p>forefeel741114@gmail.com</p>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="span12 article">
			<div class="row-fluid">
	
				<div class="span6 image">
					<%= image_tag("front-end.jpg", :class => "middle") %> 
				</div>

				<div class="span6">
					<h4>Nono Ni</h4>
					<p>Front-end Engineer</p>
					<p>0912-543266</p>
					<p>noni2she@gmail.com</p>
				</div>

			</div>
		</div>
	</div>
</div>