<script type="text/javascript">
	$("ul.main_nav > li#main_nav2").attr("class","active");
</script>
<div class="container">
	<div class="row-fluid">
	
		<div class="span3"><%= render "aboutTab" %></div>

		<div class="span9">
			
			<%= render "history" %>
			<%= render "team" %>
			
		</div>
	</div>
</div>