<script type="text/javascript">
	$("ul.main_nav > li#main_nav4").attr("class","active");
</script>
<div class="container">
	<div class="row-fluid">
	
		<div class="span3"><%= render :partial => "contactTab" %></div>

		<div class="span9">
			
			<%= render "link" %>
			<%= render "email" %>
			
		</div>
	</div>
</div>