<script type="text/javascript">
	$("ul.main_nav > li#main_nav1").attr("class","active");
</script>

<div class="container">

	<!-- 主標題 -->
	<div class="hero-unit">

		<!-- 這是Rails的寫法，我用迴圈去把所有的值給印出來，＠mainInfos是要在controller中main這個action的定義中宣告的一個實例變數，用來宣告出實例變數的類別就是祥哥要負責的Model，而title跟description都是類別裡的屬性 -->
		
		<% @mainInfos.each do |mainInfo| %>
			<h1><%= mainInfo.title %></h1><br>
			<p><%= mainInfo.description %></p>
		<% end %>

	</div>

	<!-- 主要服務 -->
	<div class="row">

		<!-- 這是Rails的寫法，我用迴圈去把所有的值給印出來，＠services是要在controller中main這個action的定義中宣告的一個實例變數，用來宣告出實例變數的類別就是祥哥要負責的Model，而title跟description都是類別裡的屬性 -->
		
		<% @services.each do |service| %>
			<div class="span4 service">
				<h2><%= service.title %></h2>
				<p><%= service.description %></p>
			</div>
		<% end %>

	</div>
</div>